        form {
          margin-top: 100px;
          margin-bottom: 100px;
          display: inline-block;
          margin-left: 550px;
            width: 500px;
        }
        .tittle_register {
            font-size: 18px;
            font-weight: 500;
            margin-bottom: 20px;
        }
        input, select {
            width: 100%;
            padding: 10px;
            margin: 5px 0;
            border: 1px solid #ddd;
            border-radius: 5px;
            box-sizing: border-box;
        }
        label {
            font-size: 12px;
        }
        .pr {
            background-color: #3061ff;
            color: rgb(0, 0, 0);
            padding: 12px;
            border: none;
            border-radius: 8px;
            width: 100%;
            font-size: 16px;
            font-weight: bold;
            cursor: pointer;
        }
        .pr:hover {
            background-color: #284fce;
            color: white;
        }
        .terms {
            font-size: 8px;
            margin-top: 10px;
            
        }
        .terms a {
            color: #ff6600;
        }
        .terms label {
            margin-left:20px;
            font-weight: 100;
            font-size: 15px;
            color: #444;
            display: flex;
            input {
              width: 20px;
              margin-right: 10px;
            }
        }