/* el main ocupa el espacio disponible y centra su contenido */
main.centro {
  flex: 1; /* toma todo el espacio sobrante entre header y footer */
  display: flex;
  align-items: center;    /* centra verticalmente */
  justify-content: center;/* centra horizontalmente */
  padding: 20px;          /* opcional */
  
}

.tittel_login{
 font-size: 50px;
 margin-top: 200px;
}
/* tu caja de login (sin cambios importantes) */
.login-container {
  width: 800px;
  
}

/* si quieres centrar elementos dentro de login (ej: un icono) */
.login-container.centered {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ema{
margin-top: 100px;
}

/* inputs y botones (tus reglas existentes) */
input {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.btn-ingresar {
  margin-top: 100px;
  width: 100%;
  background-color: #3061ff;
  color: rgb(0, 0, 0);
  border: none;
  padding: 12px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
}

.btn-ingresar:hover {
  background-color: #284fce;
  color: white;
}

.olvidar {
  display:block;
  text-align:right;
  font-size:12px;
  margin-top:20px;
  color:#e79a01;
  
}

.ol{
  margin-top: 80px;
  display:block;
  text-align:center;
  font-size:12px;
  color:#000000;
  margin-bottom: 100px;
  text-decoration: none;
  font-size: 15px;
}



